body{
    background-image:url(https://i.pinimg.com/originals/0f/17/f6/0f17f6a326efcb81ea89a2f8652b5ac6.jpg);
    }
#d1{
    margin-top:110px;
    margin-right:auto;
    margin-left:auto;
    height:680px;
    width:300px;
    color:white;
    border: white 10px double;
    padding:5px;
    }
h1{
    text-align:center;
    font-family: 'Kaushan Script', cursive;
    }
img{
    width:300px;
    }
.in{
    font-family: 'Indie Flower', cursive;
    }
ol{
    margin-top:-5px;
    margin-left:-15px;
    }
a:visited {
    color:#77a9f9;
}

a:hover {
    color:white;}
#d2 {
    margin-left:auto;
    margin-right:auto;
    margin-top:-880px;
    font-size:155px;
    height:200px;
    width:200px;
    position: relative;
    color:darkred;
     -webkit-animation-delay: .1s; /* Safari 4.0 - 8.0 */
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-delay: .1s;
    animation-name: example;
    animation-duration: .5s;
    animation-iteration-count: infinite;
   
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
     0%   { 
    left:-195px;
    color:darkred;
    top:0px;
}
25% {
    left:-195px; 
    top:825px;
    width:200px;
    color:darkred;
}
50%  {
    color:black;
    left:300px; 
    top:825px;
    width:290px;
}
75%  { 
    color:black;
    left:300px; 
    top:0px;
    width:200px;
        }
100% { 
    left:-195px;
    background-color:transparent;
    top:0px;
    width:200px;}
}

